@media (max-width: 992px) {
  .e-module-202210121324 .z_san {
    width: 33%;
  }
}
@media (max-width: 750px) {
  .e-module-202210121324 .z_san {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 750px) {
  .e-module-202210121324.one .all-flex {
    flex-wrap: wrap;
  }
}
.e-module-202210121324.one .all-flex .all-con {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  zoom: 1;
  align-items: center;
  padding-top: 50px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con {
    padding-top: 40px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.one .all-flex .all-con {
    padding-top: 30px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con {
    width: 48%;
    padding-top: 0;
  }
}
@media (max-width: 750px) {
  .e-module-202210121324.one .all-flex .all-con {
    width: 100%;
    padding-top: 20px;
  }
}
.e-module-202210121324.one .all-flex .all-con:nth-child(1) {
  padding-top: 0;
}
.e-module-202210121324.one .all-flex .all-con:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con:nth-child(2n) {
    flex-direction: inherit;
  }
}
.e-module-202210121324.one .all-flex .all-con:nth-child(2n) .r-box {
  margin-left: 0%;
  margin-right: -5%;
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con:nth-child(2n) .r-box {
    margin-right: 0;
  }
}
.e-module-202210121324.one .all-flex .all-con .l-con {
  height: 100%;
  width: 52%;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
}
.e-module-202210121324.one .all-flex .all-con .l-con:hover img {
  transform: scale(1.02);
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con .l-con {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}
.e-module-202210121324.one .all-flex .all-con .l-con .e-lazy {
  position: relative;
}
.e-module-202210121324.one .all-flex .all-con .l-con .e-lazy::after {
  padding-top: 56%;
}
.e-module-202210121324.one .all-flex .all-con .l-con .e-lazy img {
  transition: all 0.5s;
}
.e-module-202210121324.one .all-flex .all-con .l-con .e-lazy span::before {
  position: absolute;
  font-size: 70px;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con .l-con .e-lazy span::before {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.one .all-flex .all-con .l-con .e-lazy span::before {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con .l-con .e-lazy span::before {
    font-size: 40px;
    left: 85%;
    top: 75%;
  }
}
.e-module-202210121324.one .all-flex .all-con .r-box {
  width: 53%;
  margin-left: -5%;
  height: 100%;
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con .r-box {
    width: 100%;
    margin-left: 0;
  }
}
.e-module-202210121324.one .all-flex .all-con .r-box .r-con {
  background-color: #ffffff;
  box-shadow: 4px 7px 32px 6px rgba(230, 230, 230, 0.71);
  border-radius: 10px;
  z-index: 1;
  position: relative;
  padding: 60px;
  height: 100%;
  min-height: 370px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con {
    padding: 40px;
    min-height: 300px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con {
    padding: 30px;
    min-height: 260px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con {
    border-radius: 0 0 5px 5px;
  }
}
.e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-title {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  padding-bottom: 15px;
}
.LANG-cn .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-title {
  line-height: 1.583;
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-title {
    font-size: 22px;
    line-height: 1.545;
    padding-bottom: 10px;
  }
  .LANG-cn .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-title {
    line-height: 1.636;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-title {
    font-size: 18px;
    line-height: 1.889;
  }
}
.e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-con {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
}
.LANG-cn .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-con {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-con {
    font-size: 14px;
    line-height: 1.95;
  }
  .LANG-cn .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-con {
    line-height: 1.95;
  }
}
.e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-text {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
  padding-left: 15px;
  position: relative;
  padding-top: 18px;
}
.LANG-cn .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-text {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-text {
    font-size: 14px;
    line-height: 1.95;
    padding-top: 10px;
  }
  .LANG-cn .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-text {
    line-height: 1.95;
  }
}
.e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-text::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #666;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 33px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.one .all-flex .all-con .r-box .r-con .p-text::after {
    top: 22px;
  }
}
.e-module-202210121324.two .row-pic .row {
  height: 100%;
}
.e-module-202210121324.two .row-pic .row .all-con {
  display: flex;
  border-radius: 10px;
  border: solid 1px #dddddd;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}
@media (max-width: 1200px) {
  .e-module-202210121324.two .row-pic .row .all-con {
    flex-direction: column-reverse;
  }
}
.e-module-202210121324.two .row-pic .row .all-con .l-con {
  width: 72%;
  padding: 35px 40px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con {
    padding: 30px 35px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con {
    padding: 25px 30px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con {
    padding: 30px 35px;
  }
}
.e-module-202210121324.two .row-pic .row .all-con .l-con .p-title {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  padding-bottom: 10px;
}
.LANG-cn .e-module-202210121324.two .row-pic .row .all-con .l-con .p-title {
  line-height: 1.583;
}
@media (max-width: 1600px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con .p-title {
    font-size: 22px;
    line-height: 1.545;
    padding-bottom: 5px;
  }
  .LANG-cn .e-module-202210121324.two .row-pic .row .all-con .l-con .p-title {
    line-height: 1.636;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con .p-title {
    font-size: 18px;
    line-height: 1.889;
  }
}
.e-module-202210121324.two .row-pic .row .all-con .l-con .p-con {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
  padding-bottom: 25px;
}
.LANG-cn .e-module-202210121324.two .row-pic .row .all-con .l-con .p-con {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con .p-con {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 1.95;
  }
  .LANG-cn .e-module-202210121324.two .row-pic .row .all-con .l-con .p-con {
    line-height: 1.95;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con .p-con {
    padding-bottom: 15px;
  }
}
.e-module-202210121324.two .row-pic .row .all-con .l-con .p-text {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
  padding-left: 15px;
  position: relative;
  padding-bottom: 10px;
}
.LANG-cn .e-module-202210121324.two .row-pic .row .all-con .l-con .p-text {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con .p-text {
    font-size: 14px;
    line-height: 1.95;
    padding-bottom: 5px;
  }
  .LANG-cn .e-module-202210121324.two .row-pic .row .all-con .l-con .p-text {
    line-height: 1.95;
  }
}
.e-module-202210121324.two .row-pic .row .all-con .l-con .p-text::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #666;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 15px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.two .row-pic .row .all-con .l-con .p-text::after {
    top: 12px;
  }
}
.e-module-202210121324.two .row-pic .row .all-con .r-con {
  width: 100%;
  cursor: pointer;
}
.e-module-202210121324.two .row-pic .row .all-con .r-con:hover img {
  transform: scale(1.02);
}
.e-module-202210121324.two .row-pic .row .all-con .r-con .e-lazy {
  position: relative;
}
.e-module-202210121324.two .row-pic .row .all-con .r-con .e-lazy img {
  transition: all 0.5s;
}
.e-module-202210121324.two .row-pic .row .all-con .r-con .e-lazy span::before {
  position: absolute;
  font-size: 60px;
  color: #fff;
  right: 40px;
  bottom: 10px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.two .row-pic .row .all-con .r-con .e-lazy span::before {
    font-size: 50px;
    right: 30px;
    bottom: 5px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.two .row-pic .row .all-con .r-con .e-lazy span::before {
    font-size: 40px;
    right: 30px;
    bottom: 20px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.two .row-pic .row .all-con .r-con .e-lazy span::before {
    font-size: 40px;
  }
}
.e-module-202210121324.three .row-pic .row {
  height: 100%;
}
.e-module-202210121324.three .row-pic .row .all-con {
  display: flex;
  border-radius: 10px;
  border: solid 1px #dddddd;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.e-module-202210121324.three .row-pic .row .all-con .l-con {
  width: 100%;
  padding: 35px 40px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con {
    padding: 30px 35px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con {
    padding: 25px 30px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con {
    padding: 30px 35px;
  }
}
.e-module-202210121324.three .row-pic .row .all-con .l-con .p-title {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  padding-bottom: 10px;
}
.LANG-cn .e-module-202210121324.three .row-pic .row .all-con .l-con .p-title {
  line-height: 1.583;
}
@media (max-width: 1600px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con .p-title {
    font-size: 22px;
    line-height: 1.545;
    padding-bottom: 5px;
  }
  .LANG-cn .e-module-202210121324.three .row-pic .row .all-con .l-con .p-title {
    line-height: 1.636;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con .p-title {
    font-size: 18px;
    line-height: 1.889;
  }
}
.e-module-202210121324.three .row-pic .row .all-con .l-con .p-con {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
  padding-bottom: 15px;
}
.LANG-cn .e-module-202210121324.three .row-pic .row .all-con .l-con .p-con {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con .p-con {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 1.95;
  }
  .LANG-cn .e-module-202210121324.three .row-pic .row .all-con .l-con .p-con {
    line-height: 1.95;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con .p-con {
    padding-bottom: 15px;
  }
}
.e-module-202210121324.three .row-pic .row .all-con .l-con .p-text {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
  padding-left: 15px;
  position: relative;
  padding-bottom: 10px;
}
.LANG-cn .e-module-202210121324.three .row-pic .row .all-con .l-con .p-text {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con .p-text {
    font-size: 14px;
    line-height: 1.95;
    padding-bottom: 5px;
  }
  .LANG-cn .e-module-202210121324.three .row-pic .row .all-con .l-con .p-text {
    line-height: 1.95;
  }
}
.e-module-202210121324.three .row-pic .row .all-con .l-con .p-text::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #666;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 15px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.three .row-pic .row .all-con .l-con .p-text::after {
    top: 12px;
  }
}
.e-module-202210121324.three .row-pic .row .all-con .r-con {
  width: 100%;
  cursor: pointer;
}
.e-module-202210121324.three .row-pic .row .all-con .r-con:hover img {
  transform: scale(1.02);
}
.e-module-202210121324.three .row-pic .row .all-con .r-con .e-lazy {
  position: relative;
}
.e-module-202210121324.three .row-pic .row .all-con .r-con .e-lazy img {
  transition: all 0.5s;
}
.e-module-202210121324.three .row-pic .row .all-con .r-con .e-lazy span::before {
  position: absolute;
  font-size: 60px;
  color: #fff;
  right: 40px;
  bottom: 10px;
}
@media (max-width: 1600px) {
  .e-module-202210121324.three .row-pic .row .all-con .r-con .e-lazy span::before {
    font-size: 50px;
    right: 30px;
    bottom: 5px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324.three .row-pic .row .all-con .r-con .e-lazy span::before {
    font-size: 40px;
    right: 30px;
    bottom: 20px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324.three .row-pic .row .all-con .r-con .e-lazy span::before {
    font-size: 40px;
  }
}
.e-module-202210121324 .row-icon .row {
  text-align: center;
  height: 100%;
  overflow: initial;
}
.e-module-202210121324 .row-icon .row .select-con {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .e-module-202210121324 .row-icon .row .select-con {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.e-module-202210121324 .row-icon .row .z_li {
  transition: 0.2s;
  box-shadow: 0px 0px 0px #ececec;
  border-radius: 10px;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .e-module-202210121324 .row-icon .row .z_li {
    padding-bottom: 20px;
  }
}
.e-module-202210121324 .row-icon .row .z_li:hover {
  background-color: #fff;
  box-shadow: 3px 0px 20px #ececec;
}
@media (max-width: 992px) {
  .e-module-202210121324 .row-icon .row .z_li:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
  }
}
@media (max-width: 750px) {
  .e-module-202210121324 .row-icon .row {
    padding-bottom: 40px;
  }
}
.e-module-202210121324 .row-icon .row .r-con {
  border-radius: 10px;
  height: 100%;
}
@media (max-width: 1600px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .e-module-202210121324 .row-icon .row .r-con {
    margin: 10px 0;
  }
}
@media (max-width: 750px) {
}
.e-module-202210121324 .row-icon .row .r-con .e-lazy {
  max-width: 80px;
  margin: auto;
}
@media (max-width: 1600px) {
  .e-module-202210121324 .row-icon .row .r-con .e-lazy {
    max-width: 70px;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324 .row-icon .row .r-con .e-lazy {
    max-width: 60px;
  }
}
@media (max-width: 992px) {
  .e-module-202210121324 .row-icon .row .r-con .e-lazy {
    max-width: 50px;
  }
}
.e-module-202210121324 .row-icon .row .r-con .e-lazy::after {
  padding-top: 100%;
}
.e-module-202210121324 .row-icon .row .r-con .con {
  padding-top: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}
.LANG-cn .e-module-202210121324 .row-icon .row .r-con .con {
  line-height: 1.583;
}
@media (max-width: 1600px) {
  .e-module-202210121324 .row-icon .row .r-con .con {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 15px;
  }
  .LANG-cn .e-module-202210121324 .row-icon .row .r-con .con {
    line-height: 1.7;
  }
}
@media (max-width: 1200px) {
  .e-module-202210121324 .row-icon .row .r-con .con {
    font-size: 18px;
    line-height: 1.889;
    padding-top: 10px;
  }
}
.e-module-202210121324 .row-icon .row .r-con .text {
  font-size: 16px;
  line-height: 1.95;
  padding-top: 10px;
}
.LANG-cn .e-module-202210121324 .row-icon .row .r-con .text {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202210121324 .row-icon .row .r-con .text {
    font-size: 14px;
    line-height: 1.95;
    padding-top: 5px;
  }
  .LANG-cn .e-module-202210121324 .row-icon .row .r-con .text {
    line-height: 1.95;
  }
}
.e-module-202210121324 .row-icon .row .r-con .e-link-box {
  padding-top: 15px;
}
@media (max-width: 992px) {
  .e-module-202210121324 .row-icon .row .r-con .e-link-box {
    padding-top: 10px;
  }
}
.e-module-202210121324 .row-icon .row .r-con .e-link-box p .e-link-black-16-3 .text {
  color: #c7000b;
}
