.e-module-202209070955 .e-titles {
  display: flex;
}
@media (max-width: 1200px) {
  .e-module-202209070955 .e-titles {
    display: block;
  }
}
.e-module-202209070955 .e-titles .e-title-h2 {
  width: 30%;
}
@media (max-width: 1200px) {
  .e-module-202209070955 .e-titles .e-title-h2 {
    width: 100%;
  }
}
.e-module-202209070955 .e-titles .e-description {
  width: 70%;
  margin-top: 0;
}
@media (max-width: 1200px) {
  .e-module-202209070955 .e-titles .e-description {
    width: 100%;
    font-size: 16px;
    line-height: 1.95;
    margin-top: 20px;
  }
  .LANG-cn .e-module-202209070955 .e-titles .e-description {
    line-height: 1.95;
  }
}
@media (max-width: 992px) {
  .e-module-202209070955 .e-titles .e-description {
    font-size: 14px;
    line-height: 1.95;
  }
  .LANG-cn .e-module-202209070955 .e-titles .e-description {
    line-height: 1.95;
  }
}
.e-module-202209070955 .e-titles .e-description span {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .e-module-202209070955 .e-titles .e-description span {
    max-width: 100%;
  }
}
.e-module-202209070955.hide-descript .e-titles .e-title-h2 {
  width: 100%;
}
.e-module-202209070955 .archite-container .row {
  margin: -40px 0 0;
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .row {
    margin: -20px -10px 0;
  }
}
@media (max-width: 992px) {
  .e-module-202209070955 .archite-container .row {
    margin: -20px 0px 0;
  }
}
.e-module-202209070955 .archite-container .arch-img {
  position: relative;
  padding: 0;
}
.e-module-202209070955 .archite-container .arch-img .pic {
  margin: 0 auto;
}
.e-module-202209070955 .archite-container .arch-img .e-lazy:after {
  display: none;
}
.e-module-202209070955 .archite-container .arch-img .e-lazy img {
  top: 0;
  border-radius: 10px;
  width: 100% !important;
}
.e-module-202209070955 .archite-container .arch-img .full-img {
  width: 36px;
  height: 36px;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  display: none;
}
@media (max-width: 992px) {
  .e-module-202209070955 .archite-container .arch-img .full-img {
    display: block;
  }
}
@media (max-width: 750px) {
  .e-module-202209070955 .archite-container .arch-img .full-img {
    display: block;
    width: 24px;
    height: 24px;
    bottom: 5px;
    right: 5px;
  }
}
.e-module-202209070955 .archite-container .arch-img .full-img .icon-quanping {
  font-size: 30px;
  color: #fff;
  width: 36px;
  margin-left: 3px;
  text-align: center;
  line-height: 36px;
}
@media (max-width: 750px) {
  .e-module-202209070955 .archite-container .arch-img .full-img .icon-quanping {
    font-size: 20px;
    width: 24px;
    margin-left: 2px;
    line-height: 25px;
    display: flex;
  }
}
.e-module-202209070955 .archite-container .arch-left .e-lazy img {
  border-radius: 10px 0 0 10px;
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .arch-left .e-lazy img {
    border-radius: 10px 10px 0 0;
  }
}
.e-module-202209070955 .archite-container .arch-right {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 50px 0;
}
@media (max-width: 1600px) {
  .e-module-202209070955 .archite-container .arch-right {
    padding: 40px 0;
  }
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .arch-right {
    padding: 30px 0;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 992px) {
  .e-module-202209070955 .archite-container .arch-right {
    padding: 25px 0;
  }
}
.e-module-202209070955 .archite-container .arch-right .arch-r-con {
  padding: 0 50px;
  overflow: auto;
}
@media (max-width: 1600px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con {
    padding: 0 40px;
  }
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con {
    padding: 0 30px;
  }
}
.e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc {
  margin-bottom: 35px;
}
@media (max-width: 1600px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc {
    margin-bottom: 25px;
  }
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc {
    margin-bottom: 20px;
  }
}
.e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc:last-child {
  margin-bottom: 0;
}
.e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc h3 {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}
.LANG-cn .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc h3 {
  line-height: 1.583;
}
@media (max-width: 1600px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc h3 {
    font-size: 22px;
    line-height: 1.545;
  }
  .LANG-cn .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc h3 {
    line-height: 1.636;
  }
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc h3 {
    font-size: 18px;
    line-height: 1.889;
  }
}
.e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc .ptxt {
  font-size: 16px;
  line-height: 1.95;
  color: #666;
  margin-top: 10px;
}
.LANG-cn .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc .ptxt {
  line-height: 1.95;
}
@media (max-width: 1600px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc .ptxt {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.95;
  }
  .LANG-cn .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc .ptxt {
    line-height: 1.95;
  }
}
@media (max-width: 1200px) {
  .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc .ptxt {
    font-size: 14px;
    line-height: 1.95;
  }
  .LANG-cn .e-module-202209070955 .archite-container .arch-right .arch-r-con .arch-desc .ptxt {
    line-height: 1.95;
  }
}
.e-module-202209070955 .archite-container .view-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.e-module-202209070955 .archite-container .view-box .z_close {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}
.e-module-202209070955 .archite-container .view-box img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0%;
  left: 0;
  margin: auto;
  max-width: 1400px;
  padding: 80px 20px;
  width: 100%;
  z-index: 2;
}
.e-module-202209070955 .archite-container .view-box .icon-close {
  position: fixed;
  right: 30px;
  top: 30px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 9;
}
