@font-face {
  font-family: "iconfont"; /* Project id 3173541 */
  src: url('iconfont.woff2?t=1659944384282') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-shoutibao:before {
  content: "\e614";
}

.icon-dianji-shouzhi:before {
  content: "\e60a";
}

.icon-xingxing:before {
  content: "\e642";
}

.icon-tianmaoshangmentuihuo:before {
  content: "\e600";
}

.icon-fenlei:before {
  content: "\e69e";
}

.icon-gouwuche1:before {
  content: "\e65c";
}

.icon-fukuan:before {
  content: "\e607";
}

.icon-zixun-tousu:before {
  content: "\e613";
}

.icon-wenti:before {
  content: "\e6ce";
}

.icon-anquanyinsi:before {
  content: "\e98b";
}

.icon-about:before {
  content: "\e61d";
}

.icon-liebiao:before {
  content: "\e649";
}

.icon-jiarugouwuche:before {
  content: "\e61a";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-yonghu1:before {
  content: "\e637";
}

.icon-daohangtiao:before {
  content: "\e669";
}

.icon-gouwuche:before {
  content: "\e612";
}

.icon-shuaxin:before {
  content: "\e61b";
}

.icon-huidaodingbu:before {
  content: "\e63c";
}

.icon-nav:before {
  content: "\e64f";
}

.icon-guanbi:before {
  content: "\eaf2";
}

